@import "reset.css"; 
@import url("https://fonts.googleapis.com/css?family=Tangerine|Playfair Display|Sacramento|Great Vibes|Dancing Script|Cinzel|Lora|Italianno");
/* 
CSS HEX
--charcoal: #334e58ff;
--platinum: #dae2dfff;
--ash-gray: #a2a7a5ff;
--dark-purple: #241023ff;
--chocolate-cosmos: #4c212aff; */




img {
    width: 100%;
    border-radius: 1%;
}

.author-img {

    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-right: 1em;
}


.container {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "hd"
    "main"
    "sd"
    "ft";
    align-content: end; 
}


header {
    grid-area: hd;
    display:flex;
    flex-flow: column nowrap;
    padding: 1em;
}


nav a {


    padding: 0.4em;
    border-radius: 0.3em;
    font-family: 'Lora', Helvetica, sans-serif;
    font-weight: Bold;
    text-decoration: none;
    color: #495867;
    
}

nav a:hover {

    text-decoration: underline;    
}

nav {
   
    padding: 1em;
}

main {
    display: grid;
    grid-template: auto auto auto auto/ 1fr;
    grid-area: main;
    grid-template-areas: 
    "ve"
    "ba"
    "mo"
    "ky";
    padding: 1em;
    gap: 0.4em;

}

aside {

    grid-area: sd;
    display: flex;
    flex-flow: column wrap;
    padding: 0.5em;
    margin: 0.5em;
    /* background-color: beige; */

}

footer {
    grid-area: ft;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; 
    padding: 0.5em;
    
}

.footer-item {

    flex-shrink: 1;
    white-space: nowrap; 
    margin-left: 1em; /*TODO: make small gap between them */

}


.author-block {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
}

.author-greeting {

    font-size: 13px;
}

.social-media {

    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    font-size: 30px;
    /* background-color: blueviolet; */
  
}

body {
    background-color: #F7F7FF;
}

.blog-card {

    display: flex;
    flex-flow: column wrap;
    margin: 1%;
    padding: 2.5%;
    background-color: #DAE6F5;
    border-radius: 2%;
    /* box-shadow: 5px 5px 0 #241023; */

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    /* Initial state: No shadow */
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

}

.blog-card:hover {

    /* Makes the div appear slightly larger */
    transform: scale(1.01);
    
    /* Adds shadow to give depth, making it look like it's "lifting" off the page */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

li {
    padding-left: 1em;
    margin: 0.25em;
}

h1 {
    font: 500 80px 'Italianno';
    text-align: center;
    color: #577399;
}



h4 {
    font: bold 14px Arial;
    margin-top: 1em;
}

h3 {

    font: bold 24px 'Lora' ;
    color: #42779D;
    
}

figcaption {
    font-size: 14px;
    font-style: italic;
    padding: 0.25em;
    
    /* background-color: purple; */
}


h4,
figcaption,
.author-greeting {

    color: #495867;
}

a {
    color: #577399;
}




/* Layout for tablets */
@media(min-width:768px) and (max-width: 1023px){

  

    main {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        grid-area: main;
        grid-template-areas: 
        "ve ba"
        "mo ky";
        padding: 1em;
    }
        


}



/* Layout for large screen */
@media(min-width: 1024px){

    .container {
        display:grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
        "hd hd"
        "main sd"
        "ft ft";
        align-content: end; 
    }
    

    main {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        grid-area: main;
        grid-template-areas: 
        "ve ba"
        "mo ky";
        padding: 1em;
    }
        
}