 @import url("https://fonts.googleapis.com/css?family=Tangerine|Playfair Display|Sacramento|Great Vibes|Dancing Script|Cinzel|Lora|Italianno");


 

 body {
    font-family: 'Lora', serif;
    background-color: #F7F7FF;
    color: #495867;
}


.container {
    margin: 0 0.5rem;
}


header,
main,
aside,
footer {
    padding: 1rem;
}


/* Styling for header, navigation */
nav a {
    font: bold 1.25rem 'Lora', serif;
    text-decoration: none;
    color: #495867;
}


nav a:hover {
    text-decoration: underline;
}


.main-page-header, .blog-page-main-header {
    font: 500 clamp(3rem, 10vw, 8rem) 'Italianno'; /* TODO: add fallback font family */
    text-align: center;
    color: #577399;
}


/* styling main body */
.blog-card {
    background-color: #DAE6F5;
    border-radius: 2%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 0px 0px #000;
    padding: 0.7rem;
}


.blog-card:hover {
    transform: scale(1.01); /*Make the dive appear slightly larger*/
    box-shadow: 5px 5px 15px rgb(0,0,0,0.3); /*add shdow to five effect of being lifting*/
}


.quote-block {
    font: italic 1rem 'Lora', serif;
    padding: 1rem 0 0 0;
}


.quote-author {
    font: 0.9rem 'Lora', serif;
}


h3 {
    font: bold 1.5rem 'Lora', serif ;
    color: #42779D;
}


figcaption {
    font: italic 0.9rem 'Lora', serif;;
    padding: 0.25rem;
}


img {
    border-radius: 2%;
}


/* Blog post page main section styling */
.blog-page-intro-parg {
    text-indent: 1.5rem;
}


.blog-page-figure {
    background-color: #DAE6F5;
    border-radius: 2%;
    padding: 0.7rem;
}


/* style sidebar header */
h5 {
    font: bold 1.5rem 'Lora', serif;
}


.list-activites {
    list-style-type: disc;
    margin-left: 2.5rem;
}


.budjet-table {
    background-color: #DAE6F5;
    border-radius: 3%;
}


th,td {
    padding: 0.5rem 1rem;
    vertical-align: top;
}


td {
    border-top: 1px solid #495867;
}


thead, th {
    vertical-align: bottom;
    border-bottom: 1px solid #495867;
}


/* Subscribe page*/
.subscribe-form {
    max-width: 250px;
    min-height: 300px;
    border-radius: 1rem;
    padding: 2rem;
    background-color: #DAE6F5;
    box-shadow: 5px 5px 15px rgb(0,0,0,0.3);
}


.form-head {
    font: bold 1.35rem Arial;
}


.form-parag {
    font: 0.9rem 'Lora', serif;
    text-align: center;
    word-wrap: break-word;
    padding: 0.2rem 0.5rem 1.2rem 0.2rem;
}


.form-info-safe {
    font: 0.7rem 'Lora', serif;
    padding: 1.5rem 0;
}


.form-input {
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem;
    font: 0.9rem 'Lora', serif;
    min-width: 90%;
}


.subscribe-btn {
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 2rem;
    font: 1.25rem 'Lorea';
    background-color: #0081a7;  
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
}


.subscribe-btn:hover {
    transform: scale(1.01); /*Make the dive appear slightly larger*/
    box-shadow: 5px 5px 15px rgb(0,0,0,0.3); /*add shdow to five effect of being lifting*/
}


.author-greeting {
    font-size: 1rem;
    margin-left: 1em;
}


.author-name-title-bio {
    margin-left: 0.5rem;
    font-size: 0.8rem;
}


h4 {
    font: bold 1rem Arial;
}


a {
    color: #577399;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}


aside li {
    margin-left: 0.7rem;
}


.social-media {
    font-size: 30px;
}


.footer-item {
    font-size: 0.8rem;
    margin-left: 1em; /*TODO: make small gap between them */
}